
body.index, body.archive
  max-width: 30em
  margin: auto auto
  padding: 1em
  font-size: 1.8em
  text-align: center
  line-height: 1.4em
  font-family: monospace
  color: #fff
  background-color: #000
  background-image: image-url('/images/background.jpg')

  a
    color: yellow
  a:hover
    color: red

  img
    max-width: 100%

  hr
    margin-top: 2em
    margin-bottom: 2em

  .poem
    margin-top: 2em
    text-align: left

  .timetable
    margin: auto auto
    ul
      display: inline-block
      padding: 0
      text-align: left
    li
      list-style-type: none
